# https://github.com/ful1e5/Google_Cursor

.local/share/icons/GoogleDot-Black:
  type: archive
  url: {{ gitHubLatestReleaseAssetURL "ful1e5/Google_Cursor" "GoogleDot-Black.tar.gz" }}
  stripComponents: 1

.local/share/icons/GoogleDot-White:
  type: archive
  url: {{ gitHubLatestReleaseAssetURL "ful1e5/Google_Cursor" "GoogleDot-White.tar.gz" }}
  stripComponents: 1
